examples/example-1.json
[
    {
        "id": "a151bd9d2a567181",
        "type": "tab",
        "label": "Example PPMP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4987da60e67e217",
        "type": "inject",
        "z": "a151bd9d2a567181",
        "name": "multiple message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"force\":[0.8493,0.566],\"pressure\":[0.8493,0.566]}",
        "payloadType": "json",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "c73720c4187d76f7",
                "433ef75572dd6a14"
            ]
        ]
    },
    {
        "id": "ded20c49c6b2dc12",
        "type": "inject",
        "z": "a151bd9d2a567181",
        "name": "single message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":[0.8493]}",
        "payloadType": "json",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "c73720c4187d76f7"
            ]
        ]
    },
    {
        "id": "21e0ffafa3811e4c",
        "type": "inject",
        "z": "a151bd9d2a567181",
        "name": "code message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "testCode",
        "payloadType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "b835d254a9e6f65b"
            ]
        ]
    },
    {
        "id": "c73720c4187d76f7",
        "type": "PPMP-Measurement",
        "z": "a151bd9d2a567181",
        "name": "",
        "version": "3",
        "deviceId": "testDevice",
        "inputs": 1,
        "outputs": 1,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "257a4c628d82dd9a",
                "79891cd68a42aae3"
            ]
        ]
    },
    {
        "id": "433ef75572dd6a14",
        "type": "PPMP-Process",
        "z": "a151bd9d2a567181",
        "name": "",
        "version": "3",
        "deviceId": "testDevice",
        "inputs": 1,
        "outputs": 1,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "4f6053be7196c47a",
                "79891cd68a42aae3"
            ]
        ]
    },
    {
        "id": "b835d254a9e6f65b",
        "type": "PPMP-Message",
        "z": "a151bd9d2a567181",
        "name": "",
        "version": "3",
        "deviceId": "testDevice",
        "inputs": 1,
        "outputs": 1,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "7a0be859f0bdba49",
                "79891cd68a42aae3"
            ]
        ]
    },
    {
        "id": "4f6053be7196c47a",
        "type": "debug",
        "z": "a151bd9d2a567181",
        "name": "debug two",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "257a4c628d82dd9a",
        "type": "debug",
        "z": "a151bd9d2a567181",
        "name": "debug one",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a0be859f0bdba49",
        "type": "debug",
        "z": "a151bd9d2a567181",
        "name": "debug three",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "79891cd68a42aae3",
        "type": "http request",
        "z": "a151bd9d2a567181",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/ppmp",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 260,
        "wires": [
            [
                "08af9e81dc0a6fe2"
            ]
        ]
    },
    {
        "id": "08af9e81dc0a6fe2",
        "type": "debug",
        "z": "a151bd9d2a567181",
        "name": "response debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "a4c8aed7859db94b",
        "type": "http in",
        "z": "a151bd9d2a567181",
        "name": "",
        "url": "/ppmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "25add09707dd429d",
                "11a67b1ff49701d5"
            ]
        ]
    },
    {
        "id": "25add09707dd429d",
        "type": "http response",
        "z": "a151bd9d2a567181",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "11a67b1ff49701d5",
        "type": "debug",
        "z": "a151bd9d2a567181",
        "name": "debug input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 540,
        "wires": []
    }
]